body {
    background-color: var(--body-color);
}

.header {
    display: block;
    height: var(--height-header);
    background-color: var(--dark-blue);
    position: fixed;
    top: 0;
    width: 100vw;
}

.header-container {
    height: 100%;
}

.header-container-row {
    height: 100%;
}

.header__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

.header-head__logo {
    min-width: 165px;
    min-height: 30px;
}

.header-head__logo__img {
    width: 100%;
    height: 100%;
}

.header-head__list {
    display: flex;
}

.header-head__list.header-head__list-mobile {
    display: none;
}

.header-head__list-items__items {
    margin-right: 30px;
}

.header-head__list-items-items__item.active {
    border-color: var(--main-color);
    color: var(--white-color);
}

.header-head__list-items-items__item {
    display: inline-block;
    height: var(--height-header);
    line-height: var(--height-header);
    font-size: 2rem;
    white-space: nowrap;
    color: var(--text-color);
    font-weight: 700;
    border-bottom: 2px solid transparent;
    transition: 0.3s ease;
}

.header-head__list-items-items__item:hover {
    color: var(--white-color);
}

.header-head__moblie-btn {
    display: none;
    font-size: 3rem;
    color: var(--white-color);
    cursor: pointer;
}

.search {
    margin-top: var(--height-header);
    width: 100%;
    background-color: var(--body-color);
}

.search--container {

}

.search__form {
    height: var(--height-header);
    display: flex;
    align-items: center;
    padding: 0 40px;
}

.search__input {
    height: calc(var(--height-header) / 2);
    width: 100%;
    border: 1px solid transparent;
    border-radius: 5px;
    outline: none;
}

.search__input--inports {
    flex: 93;
    position: relative;
}

.search__input--import {
    padding: 0 20px;
    font-size: 1.7rem;
    font-weight: 500;
    margin-right: 2px;
}

.search__input--import:focus {
    border-color: var(--cyan-color);
}

.search__input--import:focus ~ .inports__list{
    display: block;
}

.inports__list {
    position: absolute;
    background-color: var(--white-color);
    top: 100%;
    left: 0;
    width: 40%;    
    padding: 5px 5px;
    margin: 0;
    border-radius: 5px;
    display: none;
}

.inports__items {
    display: flex;
}

.inports__item {
    padding: 0 15px;
    font-size: 1.4rem;
    background-color: transparent;
    display: block;
    height: 35px;
    line-height: 35px;
    border: 1px solid transparent;
    cursor: pointer;
    border-radius: 5px;
}

.inports__item:hover {
    background-color: rgb(232, 240, 254);
    border: 1px solid var(--cyan-color);
}

.inports__items:hover  .inports__item--trash {
    opacity: 1;
}

.inports__item--text {
    flex: 97;
}

.inports__item--trash {
    flex: 3;
    text-align: center;
    padding: 0 8px;
    font-size: 1.6rem;
    color: rgb(68, 68, 68);
    border-radius: 3px;
    opacity: 0;
}

.inports__item--trash:hover {
    border-color: var(--text-color);
    background-color: var(--white-color);
}

.search__input--btn {
    flex: 7;
    cursor: pointer;
    background-color: var(--cyan-color);
    font-size: 1.8rem;
    color: var(--white-color);
    font-weight: 500;
}


