/* Mobile & Tablet */
@media (max-width: 1023px) {
    .hide-on-moblie-tablet {
        display: none;
    }


    .header-head__moblie-btn {
        display: block;
        width: var(--height-header);
        height: var(--height-header);
        line-height: var(--height-header);
        text-align: center;
        background-color: var(--body-color);
        position: fixed;
        right: 0;
        top: 0;
    }

    .header-head__list.header-head__list-mobile {
        position: fixed;
        flex-direction: column;
        background-color: var(--body-color);
        width: 50vw;
        height: 100vh;
        top: 0;
        right: 0;
        transform: translateX(100%);
        margin-top: var(--height-header);
        display: flex;
        transition: 0.5s linear;
    }

    .header-head__list-mobile.show-nav {
        transform: translateX(0);
    }
}    

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .hide-on-tablet {
        display: none;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .hide-on-tablet {
        display: none;
    }

    .search__input--btn {
        font-size: 1.6rem;
    }
}

/* Mobile */
@media (max-width: 740px) {
    .hide-on-tablet {
        display: none;
    }

    .header-head__list-mobile {
        width: 60vw;
    }

    .search__input--btn {
        font-size: 1.3rem;
    }


}
